@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  background-color: #ffffff !important;
}

/* buttons - glow on hover */
.glow,
.select {
  position: relative;
  display: flex; /* Adjust as needed for your layout */
  color: #000; /* Text color */
}

.glow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 1; /* Start glowing immediately */
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.select:before {
  content: "";
  background: linear-gradient(
    45deg,
    #838181,
    #7a7777,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 1; /* Start glowing immediately */
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow:after,
.select:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff; /* Adjust as needed */
  left: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
}

.select:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777,
    #ffffff,
    #7a7777
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 1; /* Start glowing immediately */
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
